body {
    background-color: #2e5493;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

select {
    appearance: none;
    width: 50px;
    border: none;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-weight: bold;
    background-color: white;
}

select option {
    background-color: white;
}

table {
     width: 450px; 
}

table td {  
    table-layout: fixed;
    width: 100px fixed;
}

.player-names {
    width: 50px;
    border: 0px;
    margin: auto;
    display: block;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0%;
}

.mansion {
    color: white;
    padding-right: 20px;
    text-align: left;
}

.question {
    background-color: #b6c6e8;
    color: #2e5493;
    font-weight: bolder;
}

.cell {
    background-color: white;
    color: #2e5493;
    font-weight: bold;
    font-style: italic;
}

.cluedo-card {
    padding-right: 10px;        
    width: 100px fixed;
    white-space: nowrap;
}
